<ul>
  <% @filenames.each do |filename| %>
  <li>
    <a href="/<%= filename %>"><%= filename %></a>
    <a href="/<%= filename %>/edit">edit</a>
    <form class="inline" action="/<%= filename %>/delete" method="POST">
      <button>delete</button>
    </form>
  </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>
