<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cms.css">
    <title>CMS</title>
  </head>

  <body>
    <header>
      <% if session[:success] %>
      <div class="flash success">
	<%= session.delete(:success) %>
      </div>
      <% end %>
      <% if session[:error] %>
      <div class="flash error">
	<%= session.delete(:error) %>
      </div>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>

</html>
