<form action="/create" method="POST">
  <label for="name">Add a new document:</label><br>
  <input type="text" id="name" name="name" placeholder="example.txt" value="<%= params[:name] %>" size="14">
  <input type="submit" value="Create">
</form>
