<form action="/users/signup" method="POST">
  <div>
    <label for="uname">Username: </label>
    <input type="text" name="uname" id="uname" value="<%= params[:uname] %>">
  </div>

  <div>
    <label for="psswd">Password: </label>
    <input type="password" name="psswd" id="psswd">
  </div>

  <button>Sign Up</button>
</form>
