body {
    font-family: sans-serif;
    padding: 1em;
}

header .flash {
    padding: 10px;
    margin-bottom: 5px;
}

header .success {
    background-color: #0f05;
}

header .error {
    background-color: #f005;
}
